In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
path = r'C:\Users\buitr\Documents\04-2025 Instacart Basket Analysis'

In [4]:
prods_path = os.path.join(path, '02 Data', 'Original Data', 'products.csv')

In [5]:
df_prods = pd.read_csv(prods_path, index_col = False)

In [6]:
ords_path = os.path.join(path, '02 Data', 'Prepared Data', 'orders_wrangled.csv')

In [7]:
df_ords = pd.read_csv(ords_path, index_col = False)

In [8]:
# 2. There are missing values from days_since_prior_order, I understand this as some customers ordered for the first time, so there is no previous data to compare to.
df_ords.describe()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710541e+06,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552705e+05,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710541e+06,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421082e+06,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

In [9]:
# Create a dataframe
df_test = pd.DataFrame()

In [10]:
# Create a mixed type column 
df_test['mix'] = ['a', 'b', 1, True]

In [11]:
df_test.head()

    mix
0     a
1     b
2     1
3  True

In [12]:
# check for mixed types
for col in df_test.columns.tolist():
  weird = (df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_test[weird]) > 0:
    print (col)

mix

C:\Users\buitr\AppData\Local\Temp\ipykernel_22904\2671172800.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)

In [13]:
for col in df_test.columns.tolist():
    reference_type = type(df_test[col].iloc[0])
    weird = df_test[col].map(type) != reference_type
    if weird.any():
        print(col)

mix

In [14]:
df_test['mix'] = df_test['mix'].astype('str')

In [15]:
df_test['mix'].map(type)

0    <class 'str'>
1    <class 'str'>
2    <class 'str'>
3    <class 'str'>
Name: mix, dtype: object

In [16]:
df_prods.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [17]:
df_nan = df_prods[df_prods['product_name'].isnull()==True]

In [18]:
df_nan

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

In [19]:
df_prods_clean = df_prods[df_prods['product_name'].isnull()==False]

In [20]:
df_prods_clean.shape

(49677, 5)

In [21]:
df_dups = df_prods_clean[df_prods_clean.duplicated()]

In [22]:
df_dups

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

In [23]:
df_prods_clean_no_dups = df_prods_clean.drop_duplicates()

In [24]:
df_prods_clean_no_dups.shape

(49672, 5)

In [25]:
# 3. check for mixed types
for col in df_ords.columns.tolist():
    reference_type = type(df_ords[col].iloc[0])
    weird = df_ords[col].map(type) != reference_type
    if weird.any():
        print(col)

Unnamed: 0
order_id
user_id
order_number
orders_day_of_week
order_hour_of_day
days_since_prior_order

In [26]:
# 4. Fix mixed type data
df_ords.dtypes

Unnamed: 0                  int64
order_id                    int64
user_id                     int64
eval_set                   object
order_number                int64
orders_day_of_week          int64
order_hour_of_day           int64
days_since_prior_order    float64
dtype: object

In [27]:
df_ords['days_since_prior_order'] = df_ords['days_since_prior_order'].astype('Int64')

In [28]:
df_ords.dtypes

Unnamed: 0                 int64
order_id                   int64
user_id                    int64
eval_set                  object
order_number               int64
orders_day_of_week         int64
order_hour_of_day          int64
days_since_prior_order     Int64
dtype: object

In [29]:
# 5. Check for missing values 
df_ords[df_ords.isnull().any(axis=1)]

,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,2539329,1,prior,1,2,8,<NA>
11,11,2168274,2,prior,1,2,11,<NA>
26,26,1374495,3,prior,1,1,14,<NA>
39,39,3343014,4,prior,1,6,11,<NA>
45,45,2717275,5,prior,1,3,12,<NA>
...,...,...,...,...,...,...,...,...
3420930,3420930,969311,206205,prior,1,4,12,<NA>
3420934,3420934,3189322,206206,prior,1,3,18,<NA>
3421002,3421002,2166133,206207,prior,1,6,19,<NA>
3421019,3421019,2227043,206208,prior,1,1,15,<NA>
3421069,3421069,3154581,206209,prior,1,3,11,<NA>

In [30]:
# 6. days_since_prior_order has missing values, which I will keep it as such, because it shows the customers first orders.

In [31]:
df_ords_clean = df_ords
df_ords_clean['new_customer'] = df_ords['days_since_prior_order'].isnull() == True
df_ords_clean
df_ords_clean.to_csv(os.path.join(path, '02 Data','Prepared Data', 'clean_ords_no_dups.csv'))

In [32]:
df_ords_clean

,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer
0,0,2539329,1,prior,1,2,8,<NA>,True
1,1,2398795,1,prior,2,3,7,15,False
2,2,473747,1,prior,3,3,12,21,False
3,3,2254736,1,prior,4,4,7,29,False
4,4,431534,1,prior,5,4,15,28,False
...,...,...,...,...,...,...,...,...,...
3421078,3421078,2266710,206209,prior,10,5,18,29,False
3421079,3421079,1854736,206209,prior,11,4,10,30,False
3421080,3421080,626363,206209,prior,12,1,12,18,False
3421081,3421081,2977660,206209,prior,13,1,12,7,False
3421082,3421082,272231,206209,train,14,6,14,30,False

In [33]:
# 7 Check duplicates in df_ords
df_ords_dups = df_ords[df_ords.duplicated()]

In [34]:
df_ords_dups

Empty DataFrame
Columns: [Unnamed: 0, order_id, user_id, eval_set, order_number, orders_day_of_week, order_hour_of_day, days_since_prior_order, new_customer]
Index: []

In [35]:
# 8. there is no duplicate to address

In [36]:
# 9. export
df_prods_clean_no_dups.to_csv(os.path.join(path, '02 Data','Prepared Data', 'clean_prods_no_dups.csv'))
df_ords_clean.to_csv(os.path.join(path, '02 Data','Prepared Data', 'clean_ords_no_dups.csv'))

In [37]:
df_prods_clean_no_dups.shape

(49672, 5)